@use './reset.scss';

:root {
    --main-background-color: #ffffff;
    --text-color: #413f3f;
    --dropdown-border-color: #808080;
    --dropdown-color: #f1f1f4;
    --hover-button-color: #cce2fa;
}
