:root {
    --h1-size: 3rem;
    --h2-size: 2rem;
    --h3-size: 1.5rem;
    --h4-size: 1.3rem;
    --h5-size: 1.1rem;

    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin truncate($linenumber: 3) {
    display: -webkit-box;
    -webkit-line-clamp: $linenumber;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
